---
- name: Create users without UID
  user: >
    name={{ item.name }}
    state={{ item.state | default('present') }}
    group={{ item.group | default(item.name) }}
    groups="{{ item.groups | default('') | join(',') }}"
    shell={{ item.shell | default(users_default_shell) }}
    comment="{{ item.comment | default('Unknown User') }}"
    password="{{ item.password | default(users_default_password) }}"
    home='{{ item.home | default("/home/"+item.name) }}'
    createhome={{ users_create_homedirs }}
    append=yes
  with_items: users
  when: item.uid is not defined

- name: Create users with UID
  user: >
    name={{ item.name }}
    uid={{ item.uid }}
    state={{ item.state | default('present') }}
    group={{ item.group | default(item.name) }}
    groups='{{ item.groups | default('') | join(',') }}'
    shell={{ item.shell | default(users_default_shell) }}
    comment='{{ item.comment | default("Unknown User") }}'
    password='{{ item.password | default(users_default_password) }}'
    createhome={{ users_create_homedirs }}
    append=yes
  with_items: users
  when: item.uid is defined

- name: Add admin users to admin group
  user: >
    name={{ item.name }}
    state={{ item.state | default('present') }}
    groups={{ users_admin_group }}
    append=yes
  with_items: users
  when: item.is_admin is defined and item.is_admin == true
